@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    font-family: Didact Gothic;
}

.navbarBig {
    padding: 35px;
    font-weight: 600 !important;
}

.navBrand {
    background-color: #ffffff;
    color: #ff2d20 !important;
    font-weight: 700;
    font-size: 28pt;
    font-family: Didact Gothic;
}

.navLink {
    color: black !important;
    font-weight: 550;
}

.navLink:hover {
    color: red !important;
    font-weight: 550;
}